@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
.hober:hover {
  background-color: blue;
  color: white;
}

.size {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
}
